#header {
    height: 10vh;
    background-color: var(--fundo-claro);
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_menu {
    display: flex;
    gap: 25px;
}

#nav_menu a {
    text-decoration: none;
    color: var(--vinho);
    font-weight: 500;
    font-size: 16px;
}

#nav_menu a:hover {
    color: var(--laranja-destaque);
}

#logo {
    width: 250px;
}

#btn_icon {
    display: none;
    border: none;
}

@media (max-width: 768px) {
    #btn_icon {
        display: block;
        height: 40px;
    }

    #nav_menu {
        display: none;
    }

    #logo {
        width: 200px;
    }

}